[main]
enabled=1
debug=1
readaloud=1
trygoogle=1
tryivona=1
head=wget -q -U Mozilla 
tail=.mp3 
end=Thats all for now.  Have a nice day.  
light=1
lightdelay=1
music=1
musicfldr=/Music
ivona_accesskey=
ivona_secretkey=
ivona_voice=Salli
ivona_speed=slow

[greeting]
enabled=1
name=Peter

[birthday]
enabled=1

[weather_yahoo]
enabled=1
location=2459115
metric=1
# Change units to Imperial by changing metric=0
wind=1
# wind is available only with metric
wind_chill=1
# default set from November - March

[btc]
enabled=1

[stocks]
enabled=1
tickers=fb,pot.nz

[news]
enabled=1


