# This is a read-only copy of a default alarm configuration file.
# Use to restore original settings

[main]
readaloud=1
nthost=translate.google.com
end=Thats all for now. Have a nice day.

###################
# Content sources #
###################
# Note: items are processed in listed order, ie. greeting should come first

[greeting]
enabled=1
type=content
handler=get_greeting.py
# Name for personalized greeting, leave empty for a generalized 'Goog morning' message
name=

[yahoo_weather]
enabled=1
type=content
handler=get_yahoo_weather.py
# Find your location here: http://woeid.rosselliot.co.nz/
location=564617
unit=c
# Change temperature unit to Fahrenheit with 'f'
wind=1
wind_chill=1

[BBC_news]
enabled=1
type=content
handler=get_bbc_news.py

###############
# TTS engines #
###############
# Notes:
# 1 order implies preference for enabled tts engines
# 2 at most one tts engine is used
# 3 if readaloud=0 in the [main] section, no tts engine will be used

[google_gcp_tts]
enabled=0
type=tts
# generate your own service key from Google Cloud console and set path to it
private_key_file=
handler=get_gcp_tts.py

[google_translate_tts]
enabled=1
type=tts
handler=get_google_translate_tts.py

[festival_tts]
enabled=0
type=tts
handler=get_festival_tts.py


##############
# Misc tasks #
##############
[radio]
type=radio
# url for an internet radio stream, leave empty to disable radio
url=
