appdirs==1.4.3
astroid==2.4.2
attrs==19.3.0
backcall==0.1.0
beautifulsoup4==4.6.3
black==19.10b0
bs4==0.0.1
cachetools==2.1.0
certifi==2018.8.13
chardet==3.0.4
click==6.7
decorator==4.3.0
dnspython==1.15.0
docopt==0.6.2
feedparser==5.2.1
google-api-core==1.17.0
google-auth==1.14.2
google-cloud-texttospeech==1.0.1
googleapis-common-protos==1.51.0
grpcio==1.32.0
idna==2.7
iniconfig==1.0.1
ipython==7.18.1
ipython-genutils==0.2.0
isort==5.5.4
jedi==0.17.2
lazy-object-proxy==1.4.2
mccabe==0.6.1
num2words==0.5.10
packaging==20.4
parso==0.7.1
pathspec==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.7
protobuf==3.6.1
ptyprocess==0.6.0
py==1.9.0
pyasn1==0.4.4
pyasn1-modules==0.2.2
pydub==0.24.1
Pygments==2.7.1
pylint==2.6.0
pyparsing==2.4.7
PyQt5==5.15.0
PyQt5-sip==12.8.0
pytest==6.1.1
python-dateutil==2.8.1
python-dotenv==0.14.0
pytz==2018.5
regex==2020.2.20
requests==2.19.1
rsa==3.4.2
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
six==1.15.0
toml==0.10.0
traitlets==5.0.4
typed-ast==1.4.1
urllib3==1.23
wcwidth==0.2.5
wrapt==1.11.2
