Adafruit-Blinka==6.12.0
adafruit-circuitpython-dht==3.6.1
Adafruit-PlatformDetect==3.15.3
Adafruit-PureIO==1.1.9
attrs==21.2.0
backcall==0.2.0
cachetools==4.2.2
certifi==2021.5.30
charset-normalizer==2.0.3
decorator==5.0.9
dnspython==2.1.0
docopt==0.6.2
google-api-core==1.31.0
google-auth==1.33.1
google-cloud-texttospeech==2.5.1
googleapis-common-protos==1.53.0
grpcio==1.39.0
idna==3.2
iniconfig==1.1.1
ipython==7.25.0
ipython-genutils==0.2.0
jedi==0.18.0
matplotlib-inline==0.1.2
num2words==0.5.10
packaging==21.0
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.19
proto-plus==1.19.0
protobuf==3.17.3
ptyprocess==0.7.0
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydub==0.25.1
pyftdi==0.53.2
Pygments==2.9.0
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyserial==3.5
pytest==6.2.4
python-dateutil==2.8.2
pytz==2021.1
pyusb==1.1.0
requests==2.26.0
rsa==4.7.2
six==1.16.0
toml==0.10.2
traitlets==5.0.5
urllib3==1.26.6
wcwidth==0.2.5
