[main]
enabled=1
debug=1
readaloud=1
# Keep the trailing '/' on ramfldr
ramfldr=/mnt/ram/
end=Thats all for now.  Have a nice day.  

## Effects

[light]
enabled=1
stype=effect
standalone=1
delay=1

[music]
enabled=1
stype=effect
standalone=1
tail=.mp3 
musicfldr=/Music
player=mpg123 -@ - -l 1 -g 60

## Content sources

[greeting]
enabled=1
stype=content
standalone=1
name=Peter

[birthday]
enabled=1
stype=content
standalone=1

[weather_yahoo]
enabled=1
stype=content
# Find your location here: http://woeid.rosselliot.co.nz/
location=2459115
metric=1
# Change units to Imperial by changing metric=0
wind=1
# wind is available only with metric
wind_chill=1
# default set from November - March
host=query.yahooapis.com
path=/v1/public/yql?q=select%%20*%%20from%%20weather.forecast%%20where%%20woeid%%3D
pathtail=&format=json

[btc]
enabled=1
stype=content
host=coinbase.com
path=/api/v1/prices/buy

[stocks]
enabled=1
stype=content
tickers=fb,pot.nz
host=query.yahooapis.com
path=/v1/public/yql?q=select%%20*%%20from%%20yahoo.finance.quote%%20where%%20symbol%%20in%%20(%%27
pathtail=%%27)%%20&format=json&env=store://datatables.org/alltableswithkeys

[news]
enabled=1
stype=content
host=feeds.bbci.co.uk
path=/news/world/rss.xml

## TTS engines
# NB: Order implies preference for enabled tts engines
[trygoogle]
enabled=0
stype=tts
head=wget -q -U Mozilla 
host=translate.google.com
path=/translate_tts
lang=en
client=tw-ob
tail=.mp3
player=mpg123 -g 100 -h 10 -d 11

[tryivona]
enabled=1
stype=tts
ivona_accesskey=
ivona_secretkey=
ivona_voice=Salli
ivona_speed=slow
tail=.ogg

[trypico2wave]
enabled=0
stype=tts
standalone=1
head=/usr/bin/pico2wave
lang=en-GB
tail=.wav
player=aplay
