QLCDNumber {
  color: #FF1414;
  font-weight: bold;
  border: 0px;
}

AlarmWindow {
  background-color: #090201;
}

AlarmWindow QLabel {
  color: #FF1414;
  font: 18pt;
}

AlarmWindow QLabel#date_label {
  font: 16pt;
  margin-top: 10px;
}

QSlider {
  padding-right: 100px;
}

QSlider::handle:horizontal {
    background-color: rgb(85, 170, 255);
    border: none;
    height: 40px;
    width: 40px;
    margin: -20px 0;
    border-radius: 20px;
    padding: -20px 0px;
}